container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python EBDemo/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python EBDemo/manage.py createsu"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "EBDemo.settings"
    "PYTHONPATH": "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: EBDemo/EBDemo/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"